.nav_bar_for_home{
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 99999999;
}

.nav_bar_for_home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.nav_bar_for_home_left_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav_bar_for_home_right_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.nav_bar_for_home .container img{
    width: 150px;
}

.nav_bar_for_home_right_div a{
    color: var(--main_font_color)
}

@media(max-width: 1024px){
    .nav_bar_for_home{
        display: none;
    }
}