.private_united_ticket_museum_list{
    position: absolute;
    top: 110px;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.427);
    border-radius: 20px;
    width: 400px;
    z-index: 99;
}


.private_united_ticket_museum_list >label{
    display: flex;
    gap: 20px;
}


.private_united_ticket_museum_list label{
    padding: 10px 20px;
}

.private_united_ticket_museum_list label li{
    width: 100%;
}

.private_united_ticket_museum_list label:nth-of-type(1){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.private_united_ticket_museum_list label:last-of-type{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.private_united_ticket_museum_list label:hover{
    background-color: #aaaaaa7a;
}


.private_united_ticket_museum_list li{
    display: flex;
    gap: 20px;
}