.verev button{
   position: absolute;
   top: -67px;
   left: 56px;
   cursor: pointer;
}

.nerqev button{
   position: absolute;
   top: -40px;
   left: 52px;
   cursor: pointer;
}

.nerqev button:hover svg path{
   fill: black;
}

 .verev button:hover svg path{
   fill: black;
}
.verev button:hover svg line, .verev button:hover svg path{
   stroke: black;
}

.nerqev button:hover svg line, .verev button:hover svg path{
   stroke: black;
}


@media(max-width: 1024px){
    #partext1 span,
 #partext2 span{
    font-size: 80px !important;
 }

 .parent_bigtext{
    left: -200px;
 }
}

@media(max-width: 780px){
    #partext1 span,
 #partext2 span{
    font-size: 50px !important;
 }

 #parent_bigtext{
    left: -250px;
 }
}