
.souvenirss_section{
    margin: 100px 0;
    position: relative;
}
.souvenirss_section .container > button{
    position: absolute;
    bottom: -150px;
    left: 50%;
    margin-left: -70px;
}


.souvenirss_section .react-multi-carousel-dot-list{
    bottom: -70px;
}
.souvenir_item{
    width: 300px;
    cursor: pointer;
}


.souvenir_item_img_div{
    width: 100%;
    height: 300px;
    position: relative;
}

.souvenir_item_img_div img{
    height: 100%;
    width: 100%;
}

.souvenir_item_img_div .souvenir_item_add_cart_div{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 260px;
    height: 260px;
    background-color: white;
    transform: rotateX(90deg);
    transform-origin: top center;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.souvenir_item:hover .souvenir_item_img_div .souvenir_item_add_cart_div{
    transform: rotateX(0);
}


.souvenir_item_info_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 140px;
    justify-content: flex-end;
    /* gap: 20px; */
}

.souvenir_item_info_div p{
    color: black;
    text-align: center;
    transition: all .5s;
}

.souvenir_item_info_div p:hover{
    color: var(--second_font_color)
}


.souvenir_item_info_div h3{
    font-weight: 100;
    letter-spacing: 1px;
    color: gray;
}


.souvinirs_title_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.souvinirs_title_div h2{
    color: black;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
}

.souvinirs_title_div h3{
    color: var(--second_font_color);
    letter-spacing: 10px;
    font-weight: 100;
    text-align: center;
}
