/*  headers start ****************** */
.museumPageHeader {
   height: 500px;
}
.parHeader_img {
   position: fixed;
   z-index: -100;
   width: 100%;
}

.parHeader_img::before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #373433;
   opacity: 0.6;
}

.par_pageHeader-txt {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.par_txt {
   max-width: 1400px;
   text-align: center;
}

.par_txt > h1 {
   /* color: #ffffff; */
   color: var(--main_font_color);
   letter-spacing: 10px;
   font-weight: 100;
}

/*  headers end ****************** */
.museumPage_section {
   padding: 20px 20px 340px;
   background-color: rgb(32, 95, 151);
   padding-bottom: 340px;
}

/*  searchBlock start ****************** */

.parent_searchBlock {
   height: 110px;
   background-color: #ffffff;
   box-shadow: 0px 0px 6px -5px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   padding: 0 20px;
}
.searchBlock {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   border: 1px solid #706969;
   flex-basis: 240px;
   padding: 5px 19px 5px 10px;
   border-radius: 4px;
}

.parent_listRegion {
   position: absolute;
   top: 40px;
   max-width: 340px;
   background-color: #ffffff;
   box-shadow: 0px 0px 6px -5px;
   border-radius: 10px;
   padding: 10px;
   transition: 0.4s;
   z-index: 3;
}
.listRegion {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
.listRegion_p:hover {
   color: #d5aa72 !important;
   cursor: pointer;
}

/*  museumList start ****************** */

.par_museumList {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 50px 20px;
   margin: 30px 0;
   align-items: center;
}

.searchOll {
   max-width: 200px;
   background-color: #f6f3f3;
   margin-bottom: 10px;
   padding: 0 0 3px 0px;
   border-radius: 5px;
}
.searchOll:hover {
   color: #d5aa72 !important;
   cursor: pointer;
}

.par_MuseumMinBlock {
   width: 32%;
}

.MuseumMinBlock {
   min-height: 300px;
   position: relative;
}

.MuseumMinBlock_img {
   height: 270px;
   background-position: center;
   background-size: cover;
}
.par_MuseumMinBlock-description {
   position: absolute;
   background-color: #121313;
   bottom: -5px;
   left: 0;
   width: 90%;
   opacity: 0.7;
   padding: 13px;
   color: aliceblue;
}

.museum_name,
.museum_region {
   color: #ffffff;
}

.par_museum_pagButton {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.museum_pagButton {
   background-color: #ffffff;
   border: none;
   width: 40px;
   box-shadow: 0 0 5px -3px;
   border-radius: 4px;
}

/*  museumList end ****************** */

/*  museumOne start ****************** */
.museumOne_parent {
   display: flex;
   gap: 15px;
}

.museumOne-blockLeft {
   flex-grow: 5;
   max-width: 76%;
}
.museumOne-blockRigth {
   flex-grow: 2;
}

.museumOne_pageStyle {
   border-radius: 10px;
   box-shadow: 0 0 4px -2px;
   background-color: #ffffff;
   padding: 25px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.MuseumOne_parent-imgList {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding-top: 20px;
}

.par-contactMinBlock {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 5px;
}

/*  museumOne end ****************** */

@media (max-width: 1400px) {
   .museumPageHeader {
      height: 430px;
   }
}
@media (max-width: 1040px) {
   .par_MuseumMinBlock {
      width: 45%;
   }
   .museumPage_section {
      padding: 20px 20px 440px;
   }
}
@media (max-width: 800px) {
   .museumPageHeader {
      height: 300px;
   }
}
@media (max-width: 650px) {
   .par_MuseumMinBlock {
      width: 100%;
   }
   .museumPage_section {
      padding: 20px 20px 600px;
   }
}
