/*  headers start ****************** */
.museumPageHeader {
   height: 500px;
}
.parHeader_img {
   position: fixed;
   z-index: -100;
   width: 100%;
}

.parHeader_img::before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #373433;
   opacity: 0.6;
}

.par_pageHeader-txt {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.par_txt {
   max-width: 1400px;
   text-align: center;
}

.par_txt > h1 {
   /* color: #ffffff; */
   color: var(--main_font_color);
   letter-spacing: 10px;
   font-weight: 100;
}

/*  headers end ****************** */
.museumPage_section {
   padding: 20px 20px 10px;
   background-color: #f8f8f8;
   /* padding-bottom: 340px; */
   min-height: 900px;
}

.museumPage_section-title {
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   align-items: center;
   padding: 30px 0;
}

.museumPage_section-title h2 {
   color: var(--second_font_color);
   font-weight: 400;
   text-align: center;
   font-family: globalFont;
   font-size: 48px;
}

.museumPage_section-title-lines_div {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

/* .aboute_usPage_block_title h3{
   color: var(--main_font_color);
   letter-spacing: 2px;
   text-align: center;
   font-weight: 100;
} */

/*  searchBlock start ****************** */

.parent_searchBlock {
   height: 110px;
   background-color: #ffffff;
   box-shadow: 0px 0px 6px -5px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   padding: 0 20px;
}

.parent_searchBlock-title {
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 3px;
   padding: 16px 0;
}

.searchBlock {
   max-width: 370px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   border: 1px solid #dadada;
   flex-basis: 240px;
   padding: 10px 16px 10px 16px;
   border-radius: 6px;
   position: relative;
}

.searchBlock > h4 {
   color: #a3a3a3;
   font-family: globalFont;
   line-height: 19px;
   font-size: 13px;
   font-weight: 400;
}

.parent_listRegion {
   position: absolute;
   top: 50px;
   left: 0;
   right: 0;
   background-color: #ffffff;
   box-shadow: 0px 0px 6px -5px;
   /* border-radius: 10px; */
   /* padding: 10px; */
   transition: 0.4s;
   z-index: 3;
   padding-bottom: 60px;
   box-shadow: 0 0 7px -4px;
}
.listRegion {
   /* display: flex;
   flex-wrap: wrap;
   gap: 10px; */
   /* padding: 10px; */
}
.listRegion_p {
   padding: 0 22px;
   cursor: pointer;
}
.listRegion_p > p {
   padding: 20px 0;
   border-bottom: 1px solid #ecebeb;
   font-family: globalFont;
   line-height: 19px;
   font-weight: 400;
   display: flex;
   align-items: center;
   gap: 15px;
}
.listRegion_p:hover {
   background-color: #f6f5f5;
   border-bottom: 1px solid #ecebeb;
}

.searchOll {
   padding: 20px 22px;
   border-bottom: 1px solid #ecebeb;
   display: flex;
   align-items: center;
   gap: 15px;
   cursor: pointer;
}
.searchOll:hover {
   background-color: #f6f5f5;
}

/*  museumList start ****************** */

.par_museumList {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 50px 20px;
   margin: 30px 0;
   align-items: center;
}

.par_MuseumMinBlock {
   max-width: 380px;
   width: 32%;
   min-height: 520px;
}

.MuseumMinBlock {
   /* min-height: 300px;
   position: relative; */
}

.MuseumMinBlock-parImg {
   padding: 32px 25px;
   background-color: rgba(217, 217, 217, 0.4);
   min-height: 380px;
}

.MuseumMinBlock_img {
   width: 330px;
   height: 315px;
   background-position: center;
   background-size: cover;
   position: relative;
}

.MuseumMinBlock_img-parLink {
   position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(231, 231, 231, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}

.MuseumMinBlock-parImg:hover  .MuseumMinBlock_img-parLink{
   opacity: 1;
}

.MuseumMinBlock_img-link {
   font-family: globalFont;
   font-weight: 400;
   line-height: 21px;
   font-size: 11px;
   background-color:rgba(213, 170, 114, 1);
   color:rgba(255, 255, 255, 1);
   width: 210px;
   height: 38px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.par_MuseumMinBlock-description {
   width: 100%;
   opacity: 0.7;
   padding: 13px;
}
.block-description {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.museum_name,
.museum_region,
.museum_description {
   font-family: globalFont;
   font-weight: 400;
   line-height: 21px;
}
.museum_name {
   font-size: 14px;
   color: #b26705;
}
.museum_region {
   display: flex;
   align-items: center;
   gap: 12px;
}
.museum_description,
.museum_region {
   font-size: 13px;
   color: #575757;
}

.par_museum_pagButton {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.museum_pagButton {
   background-color: #ffffff;
   border: none;
   width: 40px;
   box-shadow: 0 0 5px -3px;
   border-radius: 4px;
}

/*  museumList end ****************** */

/*  museumOne start ****************** */
.museumOne_parent {
   display: flex;
   gap: 15px;
}

.museumOne-blockLeft {
   flex-grow: 5;
   max-width: 76%;
}
.museumOne-blockRigth {
   flex-grow: 2;
}

.museumOne_pageStyle {
   border-radius: 10px;
   box-shadow: 0 0 4px -2px;
   background-color: #ffffff;
   padding: 25px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.MuseumOne_parent-imgList {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding-top: 20px;
}

.educationalPrograms-minBlock {
   display: flex;
   flex-direction: column;
   gap: 10px;
   border: 1px solid #d5aa72;
   border-radius: 10px;
   padding: 10px;
}

.museumOne_pageStyle-parentMinBlock {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.educationalPrograms-minBlock_count {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px;
}
.educationalPrograms-minBlock_count > span {
   display: flex;
   align-items: center;
   gap: 10px;
}

.par-contactMinBlock {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 5px;
}

/*  museumOne end ****************** */

@media (max-width: 1400px) {
   .museumPageHeader {
      height: 320px;
   }
}
@media (max-width: 1040px) {
   .par_MuseumMinBlock {
      width: 45%;
   }
   /* .museumPage_section {
      padding: 20px 20px 440px;
   } */
}
@media (max-width: 800px) {
   .museumPageHeader {
      height: 150px;
   }

   .par_txt > h1 {
      font-size: 25px;
   }
   .museumOne_parent {
      flex-direction: column;
   }
   .museumOne-blockLeft {
      max-width: 100%;
   }

   .museumPage_section-title-lines_div {
      flex-direction: column;
   }
}
@media (max-width: 650px) {
   .par_MuseumMinBlock {
      width: 100%;
   }
   /* .museumPage_section {
      padding: 20px 20px 600px;
   } */
}
@media (max-width: 500px) {
   .MuseumOne_parent-imgList {
      flex-direction: column;
   }
}
@media (max-width: 430px) {
   .museumPageHeader {
      height: 150px;
   }
   .par_txt > h1 {
      font-size: 15px;
   }
   .museumOne_pageStyle > h3 {
      font-size: 20px;
   }

   .museumPage_section-title h2 {
      font-size: 35px;
   }
}
