
.change_font{
    position: relative;
    cursor: pointer;
  }
  
  .change_font span{
    color: var(--main_font_color);
  }
  
  .font_list{
      position: absolute;
      top: 30px;
      left: -25px;
      background-color:  white;
      backdrop-filter: blur(50px);
      transform: rotateX(90deg);
      transition: all .5s;
      transform-origin: top center;
      width: 80px;
      padding-inline-start : 0;
      /* padding: 5px 20px; */
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      overflow: hidden;
  }
  .font_list li{
    color: var(--second_font_color);
    transition: all .6s;
    width: 100%;
    text-align: center;
  }
  
  .font_list li:hover{
    transform: scale(1.2);
    background-color: #cea670;
    color: var(--main_font_color);
  }
  
  .change_font:hover ul {
    transform: rotateX(0);
  }

  div.change_font  img{
    width: 30px !important;
    height: 30px;
  }