.messages_add {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.MessagesBlock {
   height: 100%;
}
.messages_add-input {
   flex-grow: 4;
   min-height: 50px;
   padding: 0 10px 0 10px;
}

.NotUserMessages-form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.messages_block-inpEmail {
   border: none;
   box-shadow: -7px 5px 8px -6px;
   border-radius: 5px;
   width: 50%;
   padding: 10px;
}
.messages_block-inpEmail:focus {
   outline: none; /* Убрать контур фокуса по умолчанию */
   border: none; /* Установить желаемый border */
}

.messages_block-textArea {
   resize: none;
   width: 100%;
   height: 80px;
   overflow: auto;
   border: none;
   box-shadow: -7px 5px 8px -6px;
   border-radius: 10px;
   padding: 10px;
}

.error_textarea {
   color: red;
}

.messages_block-textArea:focus {
   outline: none; /* Убрать контур фокуса по умолчанию */
   border: none; /* Установить желаемый border */
}

.modal:hover {
   width: '100%';
}

.ReactModal__Overlay {
   background-color: inherit !important;
}
.close-Messages {
   position: absolute;
}

.child_modall {
   background-color: #ffffff;
   height: 100%;
   position: relative;
   border: 1px solid #cea670;
   padding: 10px;
   border-radius: 10px;
}

.MessagesModal-section {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.messagesModal-close {
   position: absolute;
   right: -38px;
   top: -3px;
   border: 1px solid #cea670;
   /* background-color: red; */
   width: 30px;
   height: 30px;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 11px -2px;
   cursor: pointer;
}

/* bot ////////////////////////////////////////////// */

.par-avatar_bot {
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 10px;
}

.avatar_bot {
   width: 60px;
   height: 60px;
   border-radius: 50px;
   background-size: cover;
   background-position: center;
}

.par_type {
   display: flex;
   flex-direction: column;
   gap: 20px;
   height: 400px;
   overflow: auto;
   padding-right: 5px;
   transition: 0.4s;
}

.par_type::-webkit-scrollbar {
   width: 5px;
}
.par_type::-webkit-scrollbar-thumb {
   background: #cea670;
   border-radius: 10px;
}

.par_type-block {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.par_type-title {
   text-decoration: 2px solid underline #cea670;
}

.par_type-list {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.chatList-ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.chatList-li {
   cursor: pointer;
   transition: 0.4s;
   line-height: 30px;
   border: 1px solid #e3e3e3;
   max-width: 300px;
   padding: 5px 15px;
   letter-spacing: 2px;
}
.chatList-li:hover {
   color: #cea670;
}

.admin_messages {
   display: flex;
   justify-content: start;
}
.admin_messages > span {
   color: #667085;
   border-radius: 10px 10px 10px 0;
}
.user_messages {
   display: flex;
   justify-content: end;
}
.user_messages > span {
   cursor: inherit !important ;
   background-color: #3f3d56;
   color: #ffffff;
   border-radius: 10px 10px 0 10px;
}

.chatBotHint_list {
   transition: 0.4s;
   line-height: 30px;
   border: 1px solid #e3e3e3;
   max-width: 300px;
   padding: 5px 15px;
   letter-spacing: 2px;
   border-radius: 10px 10px 10px 0;
}

.sendMessages_btn {
   /* width: 100%; */
   /* height: 44px; */
   background-color: inherit;
   border: none;
   outline: none;
   /* color: var(--main_font_color); */
   position: absolute;
   bottom: 24px;
   right: 10px;
   cursor: pointer;
}
